.contract {
  display: inline-block;
  margin-bottom: 15px;
  vertical-align: top;

  &:hover .contract__pencil {
    display: inline;
    position: absolute;
    right: 0;
  }

  &__header {
    margin-bottom: 10px;
    width: 200px;
    position: relative;
    box-sizing: border-box;
    margin-right: 10px;
  }

  &_collapsed .object {
    display: none;
  }

  &__title {
    color: #333;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    overflow: hidden;
    margin-bottom: 10px;
    padding-right: 25px;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: transparent;

    &_margin {
      margin-bottom: 35px;
    }

    .icon {
      margin-right: 7px;
    }
  }

  &__problemObjects {
    display: table;
    margin-left: 6px;
    border-collapse: initial;
    box-sizing: border-box;
    font-size: 13px;
    border-radius: 2px;
    padding: 3px 10px;
    color: #666;
    user-select: none;
    background-color: #e6e6e6;
  }

  &__pencil {
    font-size: 13px;
    color: #666;
    user-select: none;
    background-color: #e6e6e6;
    border-radius: 2px;
    padding: 3px 4px;
    margin-left: 5px;
    text-decoration: none;
    cursor: pointer;
    display: none;

    &:hover {
      background-color: #ccc;
      color: #333;
    }
  }
}
