.helpdesk_front_contracts {
  min-height: calc(100vh - 130px);
  box-sizing: border-box;
  position: relative;
  padding-top: 50px;

  .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .newTask {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #3689f3;
    padding: 7px 10px;
    border-radius: 2px;
    color: #fff;
    text-decoration: none;
    font: 13px 'robotoregular', sans-serif;

    &:hover {
      background-color: #317bdb;
    }
  }

  @import "../../components/Contract/style";
  @import "../../components/ObjectCard/style";
  @import "../../components/Status/style";
}

