.object {
  border: 1px solid #e6e6e6;
  border-left: 4px solid #e6e6e6;
  border-collapse: separate;
  border-spacing: initial;
  background-color: #fff;
  box-sizing: border-box;
  display: inline-table;
  border-radius: 2px;
  margin-right: 10px;
  margin-bottom: 20px;
  padding: 12px 0;
  height: 190px;
  width: 200px;

  &:hover {
    background-color: #e6e6e6;
    border-left: 4px solid #3689f3;
  }

  &:hover .object__pencil {
    visibility: visible;
  }

  &__header {
    margin-bottom: 20px;
    position: relative;

    .title {
      max-width: 190px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 13px;
      font-weight: 500;
      vertical-align: middle;
      display: inline-block;
      padding: 0 25px 0 12px;
      box-sizing: border-box;
    }
  }

  &__pencil {
    color: #666;
    font-size: 13px;
    user-select: none;
    background-color: #e6e6e6;
    border-radius: 2px;
    padding: 3px 4px;
    margin-left: 5px;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    visibility: hidden;
    right: 10px;
    top: -2px;

    &:hover {
      background-color: #ccc;
      color: #333;
    }
  }
}
