.status {
  font-size: 13px;
  padding: 0 12px;
  height: 25px;
  position: relative;
  display: block;
  text-decoration: none;

  &:hover {
    background-color: #ccc;
  }

  &__link {
    color: #666;
    text-decoration: none;
    line-height: 25px;
  }

  &__counter {
    float: right;
    border-radius: 10px;
    color: #fff;
    padding: 3px 7px;
    margin-top: 2px;

    &_processing {
      background-color: #ed5565;
    }

    &_wait {
      background-color: #ffa726;
    }

    &_delay {
      background-color: #ffa726;
    }

    &_work {
      background-color: #3689f3;
    }

    &_done {
      background-color: #8bc34a;
    }
  }
}
