@font-face {
  font-family: 'icomoon';
  src: url(resources/icomoon.eot?r9qcfj);
  src:
    url(resources/icomoon.eot?r9qcfj#iefix) format('embedded-opentype'),
    url(resources/icomoon.ttf?r9qcfj) format('truetype'),
    url(resources/icomoon.woff?r9qcfj) format('woff'),
    url(resources/icomoon.svg?r9qcfj#icomoon) format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-docs::before {
  content: "\e900";
}

.icon-pencil::before {
  content: "\e901";
}
